<main class="mainContainer">
    <div class="homeContainer">
        <div>
            <h1>
                BIENVENIDO AL PANEL DE CONTROL DE LA APP
            </h1>
            <p>Podrás administrar tu page cliente para llevar control de los mensaje y pedidos de servicios requeridos.</p>
        </div>
    </div>
</main>
    