<main class="mainContainer">
    <div class="loginContainer">
        <form action="/login" method="POST" class="formContainer">
            <h2>
                Sign In
            </h2>
            <div class="inputContainerLogin">
                <label for="">Email:</label>
                <input type="email" name="email" required>
            </div>
            <div class="inputContainerLogin">
                <label for="">Password:</label>
                <input type="password" name="pass" required>
            </div>
            <button type="submit">
                Loggin
            </button>
        </form>
    </div>
</main>