<footer class="footerContainer">
    <div class="footerNameContainer">
        <h1>Jose Najera</h1>
        <h3>Desarrollador de software</h3>
    </div>
    <div class="footerLicContainer">
        <p>Este es un panel de aministrador para administrar los mensajes de los portafolios, puedes contactarme en el correo: <b>najerajoseantonio052@gmail.com</b> </p>
    </div>
    <div class="footerRedesContainer">
        <ul>
            <li>
                <label for="">
                    Git/hub
                </label>
                <i class="fas fa-github"></i>
            </li>
            <li>
                <label for="">
                    LinkedIn
                </label>
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </li>

        </ul>
    </div>
</footer>