<header class="headerContainer">
    <nav class="navContainer">
        <div class="titleHeaderContainer">
            <h3>Panel de administrador</h3>
        </div>
        <ul class="ulContainer">
            {{#if user}}
            <li>
                <a href="/admin">Panel de administrador</a>
            </li>
            <li>
                <a href="/login/logout">Logout</a>
            </li>
            {{else}}
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/login">Login</a>
            </li>
            {{/if}}
        </ul>
    </nav>
</header>